html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.registration{
  background-color: #0B9D9F;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login_Error{
	color: red !important;
	justify-content: center !important;
}
.forms{
	width: 533px;
	padding: 30px 0;
	font-family: "Manrope", sans-serif;
	display: flex;
	margin: 0px;
	flex-direction: column;
	border-radius: 20px;
	background-color: #FFF;
}
.form{
	display: flex;
	flex-direction: column;
}
.forms>button{
	padding: 20px 0px;
	margin: -5px 20px;
	border: none;
	background-color: #0B9D9F;
	border-radius: 8px;
	color: #FFF;
}
.registration_paragraph{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.registration p{
	color: #FFF;
	font-family: "Manrope", sans-serif;
	display: flex;
	font-size: 18px;
}
.registration_forgot>a{
	text-decoration: none;
	color: #52525B;
}
.registration_forgot{
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
	color: #52525B;	
}
.registration h1{
	color: #FFF;
	margin: 0;
	font-family: "Manrope", sans-serif;
	font-weight: 600;
	font-size: 52px;
}
input:focus::placeholder{
	color: transparent;
}
input:focus {
  outline: none;
  font-size: 20px;
  padding-left: 15px;
  border-color: #00c896;
  box-shadow: 0 0 8px rgba(0, 200, 150, 0.4);
}
.form>input{
	border: 1px solid #E4E4E7;
	margin: 20px 30px 0px 30px;
	height: 65px;
	border-radius: 8px;
}
input::placeholder{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #52525B;
}
.eyes>span{
	right: 55px;
	top: 45px;
	position: absolute;
}
.eyes>a{
	display: flex;
	align-self: flex-end;
	text-decoration: none;
	color: #0B9D9F;
	font-weight: bold;
	padding-right: 10px;
}
.eyes{
	position: relative;
	color: #0B9D9F;
}
/*Statistic*/
.dashboard {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  width: 272px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 20px;
}
.sidebar_block{
	color: #000;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.sidebar_user{
	border-radius: 12px;
	padding:20px;
	border: 1px solid #0B9D9F;
}
.logo_flex{
	display: flex;
	align-items: center;
}
.logo_profile p{
	color: #0B9D9F;
	margin: 4px 0;
}
.logo_profile h3{
font-size: 14px;
margin: 4px 0;
}
.logo_user{
	width: 38px;
	height: 38px;
	margin-right: 10px;
	border-radius: 100%;
	background-color: #eee;
}
.sidebar_logo>img{
	width: 40px;
	height: 40px;
	background-color: #E9FBFB;
}
.sidebar_logo{
	display: flex;
	font-family: "Manrope", sans-serif;
	align-items: center;
	gap: 10px;
	color: #0B9D9F;
	font-size: 20px;
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar-menu li {
	text-decoration: none;
  margin-bottom: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 5px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  transition: background 0.2s;
}
.sidebar-menu-items:hover{
	padding: 5px;
	background-color: #E9FBFB;
}
.sidebar-menu-items{
	display: flex;
	gap: 3px;
	align-items: center;
}
.sidebar-link:hover {
	color: 	#000;
	padding: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #E9FBFB;
}

.sidebar-link.active {
	padding: 15px 5px;
  background-color: #E9FBFB;
  color: #0B9D9F;
  font-weight: bold;
}
.statistics{
	width: 100%;
	padding: 20px;
  background-color: #f4f4f4;
 }
.content{
	width: 100%;
  background-color: #f4f4f4;
}
.statistics_paragraph>h1{
	font-size: 24px;
}
.statistics_paragraph>input::placeholder{
	text-align: left;
	padding-left: 10px;
	 background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png'); /* или своя иконка */
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 36px;
}
.statistics_paragraph>input:focus::placeholder{
	background-image: none;
	color: transparent;
}
.statistics_paragraph>input:focus{
	font-size: 18px;
	padding-left: 10px;
}
.statistics_paragraph>input{
	width: 310px;
	height: 44px;
	background-color: #F7F7F7;
	border-radius: 	8px;
	border:none;
}
.statistics_paragraph{
	border-radius: 12px;
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}
.stat_cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}
.stat_card p{
	font-size: 36px;
}
.stat_card{
	height: 128px;
	padding: 20px;
	margin: 20px 0;
	display: flex;
	background-color: #FFF;
	flex-direction: column;
	align-items: start;
}
.stat_Header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.root_header h1{
	font-size: 24px;
	margin: 0;
	font-family: "Manrope", sans-serif;
}
.root_header p{
	color: #0F5757;
	margin: 0;
}
.root_button>button{
	padding: 13px 20px;
	color: #FFF;
	display: flex;
	align-items: center;
	border:none;
	border-radius: 8px;
	background-color: #0B9D9F;
}
.root_header{
	display: flex;
	align-items: center;
	margin:30px;
	padding: 20px;
	border-radius: 8px;
	background-color: #FFF;
	justify-content: space-between;	
}
	.user-table {
	background-color: #FFF;
	width: 95%;
	border-radius: 8px;
	margin: 0px auto;
	padding: 30px;
    border-spacing: 0;
}
.user-table th,
.bd_calls th,
.bd_calls td,
.user-table td {
	padding:20px 10px;
  	text-align: center;
}
.user-table thead th,
.bd_calls thead th{
	padding: 5px 10px;
}
.user-table thead th:first-child,
{
  border-radius: 12px 0 0 12px;
}

.user-table thead th:last-child {
  border-radius: 0 12px 12px 0;
}
.user-table>thead,
.bd_calls>thead{
	background-color: #E9FBFB;
}
.user-table tbody tr:hover {
  background-color: #eee;
}
.panel_content{
	color: 	#072C2C;
	display: flex;
	flex-direction: column;
}
.panel_content h2{
	background-color: #fff;
}
.panel_content h2,
.panel_mobile{
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
}

.panel_mobile{
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
.panel_button h1{
	font-size: 18px;	
}
.panel_button{
	padding: 10px;	
	width: 400px;
	border-radius: 10px;
	background-color:#FFF;
}
.panel_btn>button:hover{
	background-color:#40706f;
}
.panel_btn>button{
	border-radius: 10px;
	border: 1px solid #0B9D9F;
	margin-left: 15px;
	padding: 15px 25px;
	background: none;
	font-size: 14px;
	color: #0B9D9F;
}
.panel_btn>button:nth-of-type(2){
	color: #FFF;
	background-color: #0B9D9F;

}
.add-category-page{
	padding: 20px;
	background-color: #F7F7F7;
}
.add-category-paragraph{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
	border-radius: 8px;
	padding:0 20px;
}
.category-paragraph p{
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: "Manrope", sans-serif;
	margin: 0;
}
.category-paragraph>input::placeholder{
	text-align: left;
	padding-left: 10px;
}
.categories_height_one>input{
	height: 52px;
}
.categories_height_two>input{
	padding-top: 10px;
	padding-bottom: 100px;
}
.category-paragraph>input{
	width: 343px;
	color: #0B9D9F;
	border-radius: 8px;
	border: 1px solid #0B9D9F;
}
.add-category-form{
	background-color: #FFF;
	height: 870px;
	display: flex;
	margin-top: 20px;
	padding: 10px;
	gap: 20px;
	flex-direction: column;
	align-items: start;
}
.add-category-forms{
	font-family: "Manrope", sans-serif;
	font-size: 24px;
}
.category_btn{
	display: flex;
	gap: 20px;
}
.category_btn>button{
	padding: 20px 50px;
	border-radius: 8px;
	border:none;
	font-weight: 600;
	font-size: 16px;
	color: #FFF;
	background-color: #CCCCCC;
}
.category_btn>button:nth-of-type(2){
	background-color: #0B9D9F;

}

.breadcrumb {
	border-radius: 5px;
	padding:20px 10px;
	background-color: #FFF;
  font-size: 14px;
  margin-bottom: 20px;
	font-family: "Manrope", sans-serif;

}

.breadcrumb a {
	font-family: "Manrope", sans-serif;
  color: #0B9D9F;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.add-form{
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #FFF;
  padding: 15px;
  margin-top: 20px;
  gap: 20px;
}
.add-employee-page{
	padding: 15px;
	background-color: #EEE;
	font-family: "Manrope", sans-serif;
}
.addEmployee_paragraph h1,
.addEmployee_paragraph p{
	color: #072C2C;
	margin: 0;

}
.addEmployee_paragraph{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
}
.right-form h4,
.left-form h4{
	font-size: 18px;
	padding: 10px;
text-align: center;
	background-color: #E9FBFB;
}
.left-form Label{
font-size: 18px;
font-weight: bold;
margin-left: 10px;
}
.left-form inputn:nth-of-type(1){
	border: none;
}
.left-form input{
	width: 343px;
	border: 1px solid #0B9D9F;
	border-radius: 8px;
	height: 52px;
}
.left-form {
	font-family:"Manrope", sans-serif;
	gap: 10px;
	display: flex;
	flex-direction: column;

}

.radio-form input {
	font-weight: bold;
}
.radio-form p{
	max-width: 410px;
	color: #999999;
}
.radio-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.radio-option {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.radio-option input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.custom-radio-check {
  height: 22px;
  width: 22px;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 14px;
  margin-top: 5px;
}

.radio-option input[type="radio"]:checked + .custom-radio-check {
  background-color: #0B9D9F;
  color: white;
}

.radio-form h1{
	font-size: 14px;
}
.radio-form Label{
	display: flex;
	gap: 10px;
}
.radio-form{
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.buttons_calls>button{
	border: none;
	cursor: pointer;
	background-color: #FFF;
}
.buttons_calls{
	width: 96%;
	padding: 10px 0px 10px 20px;
	margin-left: 10px;
	background-color: #FFF;
	display: flex;
	align-items: center;
}
.search_calls>input{
	width: 50px;
	border: none;
	padding: 5px;
	position: relative;
}
.lupa_calls{
	top: 85px;
	margin-left: 15px;
	position: absolute;
}

.bd_calls{
	    width: 95%;
    border-radius: 8px;
    padding: 30px;
    border-spacing: 0;
}

.pagination_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #f4f4f4;
}

.pagination_controls button:hover{
	background-color: #E9FBFB;
}

.pagination_controls button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


 @media (max-width: 1439px) {
.content{
	width: 100%;
}
.statistics{
	width: 80%;
	height: 100%;
 }
 .stat_cards{
 	margin-top: 20px;
 }
 .stat_card{
 	margin: 0px;
 }
 .sidebar{
 	justify-content: space-between;
 	width: 200px;
 	height: 100vh;
 	font-size: 13px;
 }
 .sidebar_user{
 	padding: 10px;
 }
 .sidebar_logo{
 	font-size: 10px;
}
 }